{% extends "template.html" %}

{% block title %}FIMath Calculator{% endblock %}

{% block header %}FIMath - Boosted{% endblock %}

{% block content %}
<label for="fuelType">Fuel Type:</label>
<select id="fuelType">
  <option value="gas">Gas</option>
  <option value="e85">E85</option>
  <option value="diesel">Diesel</option>
</select>
<div class="boost-form" id="boostForm">
  <div class="slider-container">
    <label for="nahp">Naturally Aspirated Horsepower:</label>
    <input type="range" id="nahpRange" name="nahpRange" value="0" max="500">
    <input type="number" id="nahp" name="nahp" value="0" max="500">
  </div>
  <div class="slider-container">
    <label for="compRatio">Compression Ratio:</label>
    <input type="range" id="compRatioRange" name="compRatioRange" value="11" min="6" max="15">
    <input type="number" id="compRatio" name="compRatio" value="11" min="6" max="15">
  </div>
  <div class="slider-container">
    <label for="boostPsi">Boost PSI:</label>
    <input type="range" id="boostPsiRange" name="boostPsiRange" value="0" max="50">
    <input type="number" id="boostPsi" name="boostPsi" value="0" max="50">
  </div>
  <p>BoostHP: <span id="boostHP">0</span>HP</p>
  <p>Effective Compression Ratio (ECR): <span id="ecr">0</span></p>
  <p>Max ECR <label id="maxECR">12</label></p>
</div>
<script type="module" src="{{url_for('static', filename='boost.js')}}" defer></script>
{% endblock %}
