{% extends "template.html" %}

{% block title %}FIMath Calculator{% endblock %}

{% block header %}FIMath - Engine HP Calculator{% endblock %}

{% block content %}
<!-- Dropdown for selecting presets -->
<label for="presets">Presets:</label>
<select id="presets">
  <option value="custom">Custom</option>
</select>
<label for="fuelType">Fuel Type:</label>
<select id="fuelType">
  <option value="gas">Gas</option>
  <option value="diesel">Diesel</option>
  <option value="e85">E85</option>
</select>
<form id="sliders">
  <div class="slider-container">
    <label for="mmBore">Bore(mm):</label>
    <input type="range" id="mmBoreRange" name="mmBoreRange" min="50" max="133" value="96">
    <input type="number" id="mmBore" name="mmBore" min="50" max="133" value="96">
  </div>
  <div class="slider-container">
    <label for="mmStroke">Stroke(mm):</label>
    <input type="range" id="mmStrokeRange" name="mmStrokeRange" min="50" max="150" value="86">
    <input type="number" id="mmStroke" name="mmStroke" min="50" max="150" value="86">
  </div>
  <div class="slider-container">
    <label for="cCyl">Cylinder Count:</label>
    <input type="range" id="cCylRange" name="cCylRange" min="1" value="6" max="12">
    <input type="number" id="cCyl" name="cCyl" min="1" value="6" max="12">
  </div>
  <div class="slider-container">
    <label for="revLimit">Rev Limiter:</label>
    <input type="range" id="revLimitRange" name="revLimitRange" value="7500" max="14000" min="1000" step="100">
    <input type="number" id="revLimit" name="revLimit" value="7500" max="14000" min="1000" step="100">
  </div>
  <div class="slider-container">
    <label for="compRatio">Compression Ratio:</label>
    <input type="range" id="compRatioRange" name="compRatioRange" value="11" min="6" max="15">
    <input type="number" id="compRatio" name="compRatio" value="11" min="6" max="15">
  </div>
  <div class="slider-container">
    <label for="ve">Volumetric Efficiency (VE):</label>
    <input type="range" id="veRange" name="ve" min="50" value="85" max="110">
    <input type="number"id="ve" name="ve" min="50" value="85" max="110">
  </div>
</form>
<h2>Calculations</h2>
<p>Displacement: <span id="ccDisp">0</span>cc</p>
<p>Piston Speed: <span id="msPistonSpeed">0</span>m/s</p>
<p>Estimated Max RPM: <span id="mRPM">0</span>rpm @ 25m/s</p>
<p>Estimated Current Horsepower: <span id="eHP">0</span>hp</p>
<p>Estimated Max Horsepower: <span id="mHP">0</span>hp</p>
{% endblock %}

