{% extends "template.html" %}

{% block title %}FIMath Calculator{% endblock %}

{% block header %}FIMath - Engine Horsepower Calculator{% endblock %}

{% block content %}
      Flask website to make my engine math interactive.
      
      I've been working on trying to predict horsepower from engine statistics since 2018.
      My math has kept up with productions numbers very closely, and I even made a project to scrape production data from various websites.
      I'd now like to allow people to interact with the different variables and see how different engine configurations work compared to others.
      Most of the work is done around Bore X Stroke, but I have tons of equations that I will also list on the website.
      
      All of the math is based on equations provided elsewhere, and it would take forever to provide years worth of references, so I do not claim any of the original equations as my own work.
      I have modified almost every equation that I've found, but I will provide the original equation whenever I can.</p>
{% endblock %}
