<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIMath - Engine Displacement Calculator</title>
  <style>
    header {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }
    .slider-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .slider-container input[type="range"] {
      width: 70%;
    }
    .slider-container input[type="number"] {
      width: 25%;
    }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
  <h1>FIMath - Engine Displacement Calculator</h1>
</header>
<div class="slider-container">
  <label for="mmBore">Bore(mm):</label>
  <input type="range" id="mmBoreRange" name="mmBoreRange" max="133" value="86">
  <input type="number" id="mmBore" name="mmBore" max="133" value="86">
</div>
<div class="slider-container">
  <label for="mmStroke">Stroke(mm):</label>
  <input type="range" id="mmStrokeRange" name="mmStrokeRange" max="150" value="86">
  <input type="number" id="mmStroke" name="mmStroke" max="150" value="86">
</div>
<div class="slider-container">
  <label for="cCyl">Cylinder Count:</label>
  <input type="range" id="cCylRange" name="cCylRange" value="4" max="12">
  <input type="number" id="cCyl" name="cCyl" value="4" max="12">
</div>
<div class="slider-container">
  <label for="RevLimit">Rev Limiter:</label>
  <input type="range" id="RevLimitRange" name="RevLimitRange" value="6500" max="20000">
  <input type="number" id="RevLimit" name="RevLimit" value="6500" max="20000">
</div>
<div class="slider-container">
  <label for="CompRatio">Compression Ratio:</label>
  <input type="range" id="CompRatioRange" name="CompRatioRange" value="10" max="25">
  <input type="number" id="CompRatio" name="CompRatio" value="10" max="25">
</div>
<div class="slider-container">
  <label for="RatedHP">Rated Horsepower(hp):</label>
  <input type="range" id="RatedHPRange" name="RatedHPRange" value="100" max="1000">
  <input type="number" id="RatedHP" name="RatedHP" value="100" max="1000">
</div>
<br>
<button type="button" onClick="calc()">Calc</button>
<p>Displacement: <span id="ccDisp">0</span>cc</p>
<p>Piston Speed: <span id="msPistonSpeed">0</span>m/s</p>
<p>Estimated Max RPM: <span id="mRPM">0</span>rpm @ 25m/s</p>
<p>Estimated Current Horsepower: <span id="eHP">0</span>hp</p>
<p>Estimated Max Horsepower: <span id="mHP">0</span>hp</p>
<p>Findable HP: <span id="mHPDiff">0</span>hp</p>
<footer>Created by GalacticBonsai</footer>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
