<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIMath - Engine Displacement Calculator</title>
  <style>

  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
  <h1>FIMath - Engine Displacement Calculator</h1>
</header>
<!-- Dropdown for selecting presets -->
<label for="presets">Presets:</label>
<select id="presets">
  <option value="custom">Custom</option>
  <!-- presets in JS -->
</select>
<form id="fuelTypeForm">
  <label for="gas">Gas:</label>
  <input type="radio" id="gas" name="fuelType" value="gas" checked>
  <label for="diesel">Diesel:</label>
  <input type="radio" id="diesel" name="fuelType" value="diesel">
  <label for="e85">E85:</label>
  <input type="radio" id="e85" name="fuelType" value="e85">
</form>
<form id="sliders">
  <div class="slider-container">
    <label for="mmBore">Bore(mm):</label>
    <input type="range" id="mmBoreRange" name="mmBoreRange" max="133" value="96">
    <input type="number" id="mmBore" name="mmBore" max="133" value="96">
  </div>
  <div class="slider-container">
    <label for="mmStroke">Stroke(mm):</label>
    <input type="range" id="mmStrokeRange" name="mmStrokeRange" max="150" value="86">
    <input type="number" id="mmStroke" name="mmStroke" max="150" value="86">
  </div>
  <div class="slider-container">
    <label for="cCyl">Cylinder Count:</label>
    <input type="range" id="cCylRange" name="cCylRange" value="6" max="12">
    <input type="number" id="cCyl" name="cCyl" value="6" max="12">
  </div>
  <div class="slider-container">
    <label for="revLimit">Rev Limiter:</label>
    <input type="range" id="revLimitRange" name="revLimitRange" value="7500" max="20000">
    <input type="number" id="revLimit" name="revLimit" value="7500" max="20000">
  </div>
  <div class="slider-container">
    <label for="compRatio">Compression Ratio:</label>
    <input type="range" id="compRatioRange" name="compRatioRange" value="11" max="25">
    <input type="number" id="compRatio" name="compRatio" value="11" max="25">
  </div>
  <div class="slider-container">
    <label for="ratedHP">Rated Horsepower(hp):</label>
    <input type="range" id="ratedHPRange" name="ratedHPRange" value="332" max="1000">
    <input type="number" id="ratedHP" name="ratedHP" value="332" max="1000">
  </div>
</form>
<h2>Calculations</h2>
<p>Displacement: <span id="ccDisp">0</span>cc</p>
<p>Piston Speed: <span id="msPistonSpeed">0</span>m/s</p>
<p>Estimated Max RPM: <span id="mRPM">0</span>rpm @ 25m/s</p>
<p>Estimated Current Horsepower: <span id="eHP">0</span>hp</p>
<p>Estimated Max Horsepower: <span id="mHP">0</span>hp</p>
<p>Flowable extra HP: <span id="mHPDiff">0</span>hp</p>
<p>Raised Redline extra HP: <span id="mRPMHPDiff">0</span>hp</p>

<!-- Boost form -->
<h2>Boosted?</h2>
<div class="boost-form" id="boostForm">
  <div class="slider-container">
    <label for="boostPsi">Boost PSI:</label>
    <input type="range" id="boostPsiRange" name="boostPsiRange" value="0" max="50">
    <input type="number" id="boostPsi" name="boostPsi" value="0" max="50">
  </div>
  <p>BoostHP: <span id="boostHP">0</span>HP</p>
  <p>ECR: <span id="ecr">0</span></p>
  <div class="slider-container">
    <label for="ecr12" class="red-label">12 ECR:</label>
    <label for="ecr15" class="red-label">15 ECR:</label>
    <label for="ecr25" class="red-label">25 ECR:</label>
  </div>
</div>
<footer>Created by GalacticBonsai</footer>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
