<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}FI Math{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>{% block header %}Default Header{% endblock %}</h1>
  <h1></h1>
    <nav>
        <nav>
            <a href="{{ url_for('views.home') }}">Home</a>
            <a href="{{ url_for('views.engine') }}">Engine </a>
            <a href="{{ url_for('views.boosted') }}">Boosted</a>
            <a href="{{ url_for('views.explained') }}">Math Explained</a>
          </nav>
    </nav>
</header>
{% block content %} Default page {% endblock %}

</body>

<footer>Created by GalacticBonsai</footer>